@{
    Layout = null;
}



<div class="row" align="center">
    <h4>Seleccione Forma de Pago</h4>
    <div style="color:white">
        <a class=" btnBancoFalso btn btn-success text-shadow" href="/Pasarela/LoginBancoFalso">Banco Falso</a> |
        <a href="/Pasarela/LoginKhipu" class="btnKhipu btn btn-info">Khipu</a>
    </div>
</div>