
@{
    ViewBag.Title = "LoginKhipu";
}



<div align="center">
    <h2 style="color:white">Login Khipu</h2>
    <h4 style="color:white">Iniciar Sesion</h4>    
        <input type="text" placeholder="Rut" name="Login" class="form-control" /><p></p>
        <input type="password" name="Contraseña" class="form-control" placeholder="Password" /><p></p>
        <button type="submit" value="Logueo" class="btn btn-info">Enviar</button>    
</div>

