
@{
    ViewBag.Title = "PagoOk";
}

<h2 style="color:white">Pago Realizado con Exito. Muchas Gracias por tu compra. Vuelve Pronto!</h2>

<a class="btnLogin btn btn-success" href="/Catalogo/Index" role="button">Seguir Comprando</a>


