
@{
    ViewBag.Title = "cerrarSesion";
}

<h4>Cerraste Sesion</h4>

<a class="btn btn-info text-shadow" href="/Login/Index">Iniciar Sesión</a> |
<a class="btn btn-success text-shadow" href="/Catalogo" role="button">Ir al Catalogo</a>

