
@{
    Layout = null;
 }
<div align="center">
    <h2>Bar Code</h2>
    <h4>Iniciar Sesion</h4>
    <form action="~/Login/Validar/" method="post">
        <input type="email" placeholder="Email" name="Login" class="form-control" /><p></p>
        <input type="password" name="Contraseña" class="form-control" placeholder="Password" /><p></p>
        <input type="submit" value="Enviar" class="btn btn-info" />
    </form>    
</div>