@{
    ViewBag.Title = "noEncontrado";
}



<div class="row">
    <h4>No estás registrado?</h4>
    <div>
        <a class="btn btn-success text-shadow" href="/Clientes/Create">Registrarse</a> |
        <a href="/Login/Index" class="btn btn-info">Reintentar</a>
    </div>
</div>