@{
    ViewBag.Title = "noEncontrado";
}



<div class="row">
    <h4 style="color:white">No estás registrado?</h4>
    <div style="color:white">
        <a class="btn btn-success text-shadow" href="/Clientes/Create">Registrarse</a> |
        <a href="/Login/Index" class="btn btn-info">Reintentar</a>
    </div>
</div>