
@{
    Layout = null;
}

<h3 class="text-danger" style="color:white">Contenido para mayores de 18 años</h3>
<h4 style="color:white">Para continuar debes validar que eres mayor de edad</h4>

<form name="formulario" action="~/Home/Index">
    <div class="row col-md-3">
        <p style="color:skyblue">Confirmo que soy mayor de edad</p>
        <input type="checkbox" value="1" name="pepe" onclick="javascript:validar(this);">
    </div>
    <button class="btn btn-info" value="Index" name="boton" disabled>Entrar</button> |
    <a class="btn btn-danger" href="http://www.google.cl/">Salir</a>
</form>

<script>
    function validar(obj) {
        var d = document.formulario;
        if (obj.checked == true) {
            d.boton.disabled = false;
        } else {
            d.boton.disabled = true;
        }
    }
</script>

<link href="~/Content/Fondo.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />